@model IEnumerable<Sistema_Inventario_Manitos_Maravillosas.Models.Admin.Client>

@{
    ViewData["Title"] = "Clientes";
}


<section class="container px-5 py-3">

    <h3 style="margin-bottom: 2rem;">Clientes</h3>

    <div class="card mb-2">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">

                <div class="input-group search-input">
                    <input id="searchInput" type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                </div>

                <div class="d-flex align-items-center ms-auto">
                    <label class="me-2">Filtrar Por:</label>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Nombre
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item custom-dropdown-item" href="#">Identificación</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#">Nombre</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#">Apellido 1</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#">Apellido 2</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="card mb-2">
        <div class="card-body">
            <table id="clients"class="table" style="margin-top: 1rem;" aria-label="Tabla de solicitudes de los solicitantes">
                <thead>
                    <tr>
                        <th scope="col">Identificación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido 1</th>
                        <th scope="col">Apellido 2</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Número de Contacto</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in Model)
                    {
                        <tr>
                            <td>@client.Id</td>
                            <td>@client.Name</td>
                            <td>@client.LastName1</td>
                            <td>@client.LastName2</td>
                            <td>@client.Email</td>
                            <td>@client.PhoneNumber</td>
                            <td>
                                <button class="icon-button bi bi-pencil-square" aria-label="Modificar" data-id="0" style="cursor: pointer;">
                                </button>
                                <button class="icon-button bi bi-trash-fill" aria-label="Eliminar" data-id="1" style="cursor: pointer;">
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <button type="button" class="btn btn-primary px-5 py-1 mt-2">Agregar <i class="bi bi-plus-circle"></i></button>
            

        </div>
    </div>

</section>

<script>
    document.getElementById('searchInput').addEventListener('keyup', function () {
        var searchTerm = this.value.toLowerCase();
        var tableRows = document.getElementById('clients').getElementsByTagName('tr');

        for (var i = 1; i < tableRows.length; i++) {
            var row = tableRows[i];
            var rowText = row.textContent.toLowerCase();
            row.style.display = rowText.includes(searchTerm) ? '' : 'none';
        }
    });
</script>

