@model IEnumerable<Sistema_Inventario_Manitos_Maravillosas.Areas.Admin.Models.Employee>

@{
    ViewData["Title"] = "Empleados";
}

<section class="container px-5 py-3">

    <h3 style="margin-bottom: 2rem;">Empleados</h3>

    <div class="card mb-2">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">

                <div class="input-group search-input">
                    <input id="searchInput" type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                </div>

                <div class="d-flex align-items-center ms-auto">
                    <label class="me-2">Filtrar Por:</label>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtro
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item custom-dropdown-item" href="#" data-column="0">Identificación</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#" data-column="1">Nombre</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#" data-column="2">Apellido 1</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#" data-column="3">Apellido 2</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#" data-column="4">Puesto</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#" data-column="5">Número de Contacto</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#" data-column="6">Negocio</a></li>
                            <li><a class="dropdown-item custom-dropdown-item" href="#" data-column="-1">Todas</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-body">
            <table id="employees" class="table" style="margin-top: 1rem;" aria-label="Tabla de solicitudes de los solicitantes">
                <thead>
                    <tr>
                        <th scope="col">Identificación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido 1</th>
                        <th scope="col">Apellido 2</th>
                        <th scope="col">Puesto</th>
                        <th scope="col">Número de Contacto</th>
                        <th scope="col">Negocio</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var employee in Model)
                        {
                            <tr>
                                <td>@employee.IdEmployee</td>
                                <td>@employee.Name</td>
                                <td>@employee.LastName1</td>
                                <td>@employee.LastName2</td>
                                <td>@employee.Position</td>
                                <td>@employee.PhoneNumber</td>
                                <td>@employee.BusinessName</td>
                                <td>
                                    <form asp-action="Edit" method="get" style="display: inline-block;">
                                        <input type="hidden" name="id" value="@employee.IdEmployee" />
                                        <button type="submit" class="icon-button bi bi-pencil-square" aria-label="Modificar" style="cursor: pointer;"></button>
                                    </form>
                                    <form id="deleteForm-@employee.IdEmployee" asp-action="Delete" method="post" style="display: inline-block;">
                                        <input type="hidden" name="id" value="@employee.IdEmployee" />
                                        <button type="button" onclick="confirmDelete('@employee.IdEmployee', '@employee.IdEmployee')" class="icon-button bi bi-trash-fill" aria-label="Eliminar"></button>
                                    </form>

                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center">No hay empleados registrados</td>
                        </tr>
                    }
                </tbody>

            </table>

            <a class="btn btn-primary px-5 py-1 mt-2" asp-action="Create">
                Agregar <i class="bi bi-plus-circle"></i>
            </a>

        </div>
    </div>

</section>

@section Scripts {
    <script src="@Url.Content("~/js/admin/employee.js")"></script>
    }