@model IEnumerable<Sistema_Inventario_Manitos_Maravillosas.Areas.Facturation.Models.Bill>

@{
    ViewData["Title"] = "Facturas";
}

<section class="container px-5 py-3">

    <h3 style="margin-bottom: 2rem;">Factura</h3>

    <div class="dynamicallyTable">
        <div class="card mb-2">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="input-group search-input">
                        <input id="searchInput" type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-text">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <label class="form-label m-0 p-0" for="showCantRow">Mostrar:</label>
                        </div>
                        <div class="col-auto">
                            <select id="showCantRow" class="form-select form-select-sm showCantRow" aria-label="Default select example">
                                <option value="10" selected>10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>
                </div>

                <table id="table" class="table" style="margin-top: 1rem;" aria-label="Tabla de facturas">
                    <thead>
                        <tr>
                            <th scope="col">Número de Factura <i class="bi bi-sort-numeric-down sort-icon" data-column="0"></i></th>
                            <th scope="col">Fecha <i class="bi bi-sort-numeric-down sort-icon" data-column="1"></i></th>
                            <th scope="col">Descuento <i class="bi bi-sort-numeric-down sort-icon" data-column="2"></i></th>
                            <th scope="col">Subtotal <i class="bi bi-sort-numeric-down sort-icon" data-column="3"></i></th>
                            <th scope="col">Costo Total <i class="bi bi-sort-numeric-down sort-icon" data-column="4"></i></th>
                            <th scope="col">Negocio <i class="bi bi-sort-alpha-down sort-icon" data-column="5"></i></th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var bill in Model)
                            {
                                <tr>
                                    <td>@bill.IdBill</td>
                                    <td>@bill.Date.ToString("dd-MM-yyyy")</td>
                                    <td>@bill.PercentDiscount %</td>
                                    <td>@bill.SubTotal $</td>
                                    <td>@bill.TotalCost $</td>
                                    <td>@bill.BusinessName</td>
                                    <td>
                                        <form asp-action="Details" method="get" style="display: inline-block;">
                                            <input type="hidden" name="id" value="@bill.IdBill" />
                                            <button type="submit" class="icon-button bi bi-eye-fill" aria-label="Modificar" style="cursor: pointer;"></button>
                                        </form>                                        
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">No hay facturas registradas</td>
                            </tr>
                        }

                    </tbody>

                </table>

                <div class="d-flex align-items-center justify-content-end">
                    <div class="carousel-container d-flex align-items-center px-3 py-1 mb-0">
                        <div id="carouselExampleControlsNoTouching" class="d-flex carousel slide align-items-center" data-bs-touch="false" data-bs-interval="false" style="background-color: transparent; width: 90px; height: 35px;">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-center align-items-center fs-5 text-primary">
                                        <span class="">1</span>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center align-items-center fs-5 text-primary">
                                        <span class="">2</span>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center align-items-center fs-5 text-primary">
                                        <span class="">3</span>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev buttonSlide" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next buttonSlide" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="@Url.Content("~/js/dynamicallyTablesScript.js")"></script>    
}
