@model Sistema_Inventario_Manitos_Maravillosas.Areas.Facturation.Models.Bill
@{
    var action = ViewData["Action"] as string;
    var controllerCall = ViewData["Controller"] as string;
}

<!-- Divs ocultos para transferir datos del modelo a JavaScript -->
@{
    
}

<tbody id="productsBody">

    @foreach (var item in Model.CartXProducts)
    {
        <tr class="rowHover">
            <th scope="row">@item.Product.IdProduct</th>
            <td>@item.Product.ProductName</td>
            <td>@item.Product.Description</td>
            <td>
                <div class="editableCell" data-price>@item.Product.Price $</div>
                <input class="editableInput" type="number">
            </td>
            <td class="w-15">
                <div class="editableCell">@item.Quantity</div>
                <input class="editableInput" type="number">
            </td>
            <td>@item.Price $</td>
            <td>asdf</td>
        </tr>
    }
    @* 
    <tr class="rowHover editableRow d-none">
        <th scope="row"></th>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td>
            <div class="editableCell" data-price>0 $</div>
            <input class="editableInput" type="number">
        </td>
        <td class="w-15">
            <div class="editableCell">0</div>
            <input class="editableInput" type="number">
        </td>
        <td>50 $</td>
        <td>asdf</td>
    </tr> *@
    @* Subtotal *@
    <tr class="fw-bold no-border">
        <th scope="row" colspan="4"></th>
        <td>Subtotal</td>
        <td colspan="2"> @Model.SubTotal $</td>
    </tr>
    @* Envio *@
    <tr class="fw-bold no-border">
        <th scope="row" colspan="3"></th>
        <td class="text-end"><button id="assignDelivery" type="button" class="btn btn-secondary btn-sm"><i class="bi bi-gear-fill"></i></button></td>
        <td>Envío</td>
        <td colspan="2"> 3015 $</td>
    </tr>
    @* Desceunto *@
    <tr class="fw-bold no-border  border-bottom border-secondary ">
        <th scope="row" colspan="3"></th>
        <td class="align-items-md-center text-end" style="width:13%">
        </td>
        <td class="d-flex justify-content-between ">
            Descuento
            <div class=" w-50 d-flex justify-content-end">
                <div class="fw-normal  w-50 text-end">
                    <div class="editableCell">21</div>
                    <input class="editableInput" type="number">
                </div>
                %
            </div>

        </td>
        <td colspan="2"> 3015 $</td>
    </tr>
    @* Total *@
    <tr class="fw-bold no-border fs-4">
        <th scope="row" colspan="4"></th>
        <td>Total</td>
        <td colspan="2"> @Model.TotalCost $</td>
    </tr>

</tbody>