@using Microsoft.AspNetCore.Mvc.Rendering
@using Sistema_Inventario_Manitos_Maravillosas.Areas.Admin.Models
@using Sistema_Inventario_Manitos_Maravillosas.Areas.Facturation.Models
@model IEnumerable<Sistema_Inventario_Manitos_Maravillosas.Areas.Admin.Models.Client>
@{
    ViewData["Title"] = "Index";
    bool isBill = ViewData["isBill"] as bool? ?? false;
    bool isClient = ViewData["isClient"] as bool? ?? false;
    Bill bill = new Bill();
    if (isBill)
    {
        bill = ViewData["bill"] as Bill;
    }

}

<h3>Venta de Productos</h3>

<section class="mb-3">

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10 ">
                            <div class="input-group flex-nowrap">
                                <input id="idProductField" type="text" class="form-control" placeholder="Código del Producto" aria-label="Código del Producto" aria-describedby="addon-wrapping">

                                <span class="input-group-text" id="addon-wrapping"><i class="pbi bi-search"></i></span>
                                
                            </div>
                            <span id="prductValidadtion" class="field-validation-error text d-none">Manito matinez</span>

                        </div>

                        <div class="col-2 justify-content-center d-flex align-items-center">
                            <div class="custom-icon-btn">
                                <button id="addRowButton" type="button" class="btn btn-primary btn-sm"><i class="bi bi-plus-square"></i></button>
                                <span class="custom-tooltip">Agregar Manualmente</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <form class="row">
                        <div class="col-auto">
                            <button id="assignClient" type="button" class="btn btn-outline-primary"><i class="bi bi-person-fill-check"></i>   Asignar Cliente</i></button>
                        </div>
                        <input class="col" type="text" id="clientDataInput" disabled value="@(isClient ? bill.IdClient+" - "+bill.Client.Name+" " + bill.Client.LastName1 : "No se ha asignado un cliente" )">
                        <input id="idAddressClient" hidden class="col-sm col-form-label" value="@(isClient ? bill.Client.IdAddress: "" )">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="card">
        <div class="card-body">


            <table id="productsTable" class="table">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio $</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Sub Total $</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                @if (isBill) @* This else is beacuse the user can create the bill when assing a client *@
                {
                    @if(bill.CartXProducts.Count > 0)
                    {
                        <partial name="_tableProducts" model="@ViewData["bill"]" view-data="ViewData">
                        </partial>
                    }
                    else
                    {
                        <tbody id="noProducts">
                            <tr>
                                <td colspan="7" class="text-center">Empiece el escaneo de productos</td>
                            </tr>
                        </tbody>
                    }
                }                
                else
                {
                    <tbody id="noProducts">
                        <tr>
                            <td colspan="7" class="text-center">Empiece el escaneo de productos</td>
                        </tr>
                    </tbody>
                }


            </table>

           
        </div>
    </div>
</section>

<section>
    <div class="py-3">
        <div class="accordion" id="accordionExample">

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Información del Cliente
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <!--Acordion body of the delevery-->
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="circle d-flex justify-content-center align-items-center">
                                        DB
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="fs-6">1546 - Daniela Baltonado</div>
                                    <div class="text-black-50 fw-light">CargoTrans</div>
                                </div>
                            </div>
                        </div>

                        <form>
                            <div class="mb-3">
                                <label class="form-label" >Dirección</label>
                                <textarea class="form-control" style="height: 100px;" aria-label="Dirección"></textarea>
                                
                            </div>
                            <div class="mb-3">
                                <label class="form-label" >Número de Contacto</label>
                                <input type="text" class="form-control" aria-label="Número de Contacto">
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Resumen de Envío
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="circle d-flex justify-content-center align-items-center">
                                        <i class="bi bi-truck"></i> <!-- Initials -->
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="fs-6">Envío Departamenta</div>
                                    <div class="text-black-50 fw-light">CargoTrans</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="card">
        <div class="card-body">
            <h4>Gestión de Cobro</h4>
            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-warning">Limpiar Datos   <i class="bi bi-stars"></i></button>
                    <button type="button" class="btn btn-outline-secondary">Dejar Pendiente  <i class="bi bi-file-earmark-bar-graph-fill"></i></button>
                </div>
                <div  class="fw-bold fs-4">
                    @* Total a Cobrar:  <span id="totalCostBill">@(isBill ? bill.TotalCost : "0")</span> $ *@
                    <a asp-area="Facturation" asp-controller="PurchaseConfiguration" asp-action="Index" class="btn btn-success btn-lg"><i class="bi bi-cash-stack"></i>  Cobrar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- get the clients returned from the controller  -->

<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-----------------                                                                      MODALL                                                                                            ---------->
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Button modal for Client-->
<div class="modal fade" tabindex="-1" id="modalClient">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Buscar Cliente</h5>                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                <div class="input-group flex-nowrap mb-3">
                    <input id="identificationClientFilter" type="text" class="form-control" placeholder="Identificacion" aria-label="Identificacion del cliente" aria-describedby="addon-wrapping">
                    <span class="input-group-text" id="addon-wrapping"><i class="pbi bi-search"></i></span>
                </div>
                <ul id="listClient" class="list-group scrollable-list mb-2">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var client in Model)
                        {

                            <li class="list-group-item list-group-item-action" data-id="@client.Id" data-name="@client.Name @client.LastName1" data-idaddress="@client.IdAddress">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="circle d-flex justify-content-center align-items-center">
                                                @client.Name[0]@client.LastName1[0]
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="fs-6 fw-bold">@client.Id <span class="fw-normal"> - </span>@client.Name @client.LastName1</div>
                                            <div class="text-black">@client.DepartmentName, @client.CityName, @client.Signs </div>
                                            <div class="text-black-50 fw-lighter">@client.PhoneNumber</div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                           
                        }
                    }
                    
                </ul>
                <button id="openNewClient" type="button" class="btn btn-primary btn-sm">Agregar Nuevo <i class="bi bi-plus-square"></i></button>
          </div>
            
        @*   <div class="modal-footer">
            <button id="openNewClient" type="button" class="btn btn-primary">Aceptar</button> 
               <a asp-area="Admin" asp-controller="Client" asp-action="Create"  type="button" class="btn btn-primary">Aceptar</a> 
          </div> *@
        </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" id="addClient">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @{
                    ViewData["Action"] = "CreateClient";

                    ViewData["Controller"] = "Purchase";
                    Client clientModel = new Client();
                }
                <partial name="_ClientForm" model="clientModel" view-data="ViewData">

            </div>

@*             <div class="modal-footer">
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div> *@
        </div>
    </div>
</div>

<!-- Button modal for Delevery-->
<div class="modal fade" tabindex="-1" id="modalDelivery">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configurar Envío</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Habilitar Envío</label>
                    </div>
                    <!--this select should querry from the data base-->
                    <div class="mb-3">
                        <label class="form-label">Método de envío</label>
                        <select class="form-select " aria-label="Seleccione un tipo de Envío">
                            <option disabled>Seleccione un método de Envío</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <!--this select should querry from the data base-->
                    <div class="mb-3">
                        <label class="form-label">Empresa responsable de enviar</label>
                        <select class="form-select mb-3" aria-label="Seleccione una Empresa">
                            <option selected>Seleccione una Empresa</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Costo Cubierto por Manitos Maravilloas</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input type="number" class="form-control" placeholder="00.00" aria-label="Costo Cubierto" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cobrar A:</label>
                        <div class="checkbox-container full-width" role="radiogroup" aria-labelledby="CobrarPorLabel">
                            <div class="form-check form-check-inline radio-item">
                                <input type="radio" name="radioPub" id="public" value="1" role="radio" aria-label="Opción público">
                                <label for="public">Público</label>
                            </div>
                            <div class="form-check form-check-inline radio-item">
                                <input type="radio" name="radioPub" id="private" value="0" role="radio" aria-label="Opción privado">
                                <label for="private">Privado</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Costo Adicional</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input type="number" class="form-control" placeholder="00.00" aria-label="Costo Adicional" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </form>
            </div>

           @*  <div class="modal-footer">
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div> *@
        </div>
    </div>
</div>

@section Scripts {
    @* <script src="~/js/facturation/facturation.js"></script> *@
    <script type="module" src="~/js/facturation/clientScript.js"></script>
    <script type="module" src="~/js/facturation/producttablescript.js"></script>
    <script type="module"  src="~/js/facturation/facturationservice.js"></script>
    <script src="~/js/admin/client.js"></script>
}
