@model Sistema_Inventario_Manitos_Maravillosas.Areas.Facturation.Models.Bill
@{
    var action = ViewData["Action"] as string;
    var controllerCall = ViewData["Controller"] as string;
}

<table id="productsTable" class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Descripción</th>
            <th scope="col">
                <span class="addonMoney">@((Model.optionMoney == 1) ? "$" : "C$")</span>
                Precio
            </th>
            <th scope="col">Cantidad</th>
            <th scope="col">
                <span class="addonMoney">@((Model.optionMoney == 1) ? "$" : "C$")</span>
                Sub Total
            </th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>


    <tbody id="productsBody">
        @if (Model.CartXProducts.Count == 0)
        {
            <tr class="rowHover">
                <td colspan="8" class="text-center">Empiece el escaneo de los productos</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.CartXProducts)
            {
                <tr class="rowHover">
                    <th scope="row">@item.Product.IdProduct</th>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Product.Category</td>
                    <td class="w-20">@item.Product.Description</td>
                    <td>
                        <span class="addonMoney">
                            @((Model.optionMoney == 1) ? "$" : "C$") @item.Price
                        </span>
                    </td>
                    <td class="w-15">
                        <div class="editableCell">@item.Quantity</div>
                        <input class="editableInput" type="number" data-idProduct="@item.Product.IdProduct">
                    </td>
                    <td>
                        <span class="addonMoney">
                            @((Model.optionMoney == 1) ? "$" : "C$")
                        </span>
                        @item.SubTotal
                    </td>
                    <td>
                        @* <button type="button" class="icon-button bi bi-pencil-square"></button> *@
                        <button type="button" class="removeItemButton text-danger icon-button bi bi-x-lg" data-id="@item.Product.IdProduct"></button>
                    </td>
                </tr>
            }
            @*
        <tr class="rowHover editableRow d-none">
        <th scope="row"></th>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td>
        <div class="editableCell" data-price>0 $</div>
        <input class="editableInput" type="number">
        </td>
        <td class="w-15">
        <div class="editableCell">0</div>
        <input class="editableInput" type="number">
        </td>
        <td>50 $</td>
        <td>asdf</td>
        </tr> *@
            @* Subtotal *@
            <tr class="fw-bold no-border">
                <th scope="row" colspan="4"></th>
                <td>Subtotal</td>
                <td colspan="2">
                    <span class="addonMoney">
                        @((Model.optionMoney == 1) ? "$" : "C$")
                    </span>
                    @Model.SubTotal
                </td>
            </tr>
            @* Envio *@
            <tr class="fw-bold no-border">
                <th scope="row" colspan="3"></th>
                <td class="text-end"><button id="assignDelivery" type="button" class="btn btn-@((Model.deliveryFlag ==true) ? "primary" : "secondary") btn-sm"><i class="bi bi-gear-fill"></i></button></td>
                <td>Envío</td>
                <td colspan="2">
                    <span class="addonMoney">
                        @((Model.optionMoney == 1) ? "$" : "C$")
                    </span>
                    @Model.delivery.Total
                </td>
            </tr>
            @* Desceunto *@
            <tr class="fw-bold no-border  border-bottom border-secondary ">
                <th scope="row" colspan="3"></th>
                <td class="align-items-md-center text-end" style="width:13%">
                </td>
                <td class="d-flex justify-content-between ">
                    Descuento
                    <div class=" w-50 d-flex justify-content-end">
                        <div class="fw-normal  w-50 text-end">
                            <div data-bill="0" class="editableCell"> @Model.PercentDiscount</div>
                            <input class="editableInput" type="number" data-bill="0">
                        </div>
                        %
                    </div>

                </td>
                <td colspan="2">
                    <span class="addonMoney">
                        @((Model.optionMoney == 1) ? "$" : "C$")
                    </span>
                    @Model.amountDiscount
                </td>
            </tr>
            @* Total *@
            <tr class="fw-bold no-border fs-4">
                <th scope="row" colspan="4"></th>
                <td>Total</td>
                <td colspan="2">
                    <span class="addonMoney">
                        @((Model.optionMoney == 1) ? "$" : "C$")
                    </span>
                    @Model.TotalCost
                </td>
            </tr>
        }


    </tbody>


</table>